section.back{
    background-image: url('../img/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}