/*gallery*/
.gallery{
    height:350px;
    background-size:cover;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-blend-mode: darken;
  }
  .gallery:hover{
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
  }
  .row .col-25{
    width:25%;
}